@charset "utf-8";

/* body */
body {
    font-family: "Catamaran", " Noto Sans JP", serif;
    font-size: 16px;
    background-color: #f0f8ff;
    overflow-x: hidden;
    position: relative;
}

/* ヘッダー */
header {
    display: flex;
    align-items: center;
    height: 160px;
    background-color: #425377;
    color: #fdfdfd;
    padding: 0 10%;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 32px;
}

.logo-block {
    display: flex;
    align-items: center;
    gap: 40px;
}

.kana-logo {
    margin-top: 20px;
    width: 140px;
    height: 40px;
    background-image: url(../images/logo-kana.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.pc-only {
    display: inline-block;
}

.header-sns {
    display: flex;
    gap: 16px;
}

.header-sns a {
    display: inline-flex;
    align-items: center;
}

.sp-nav {
    display: none;
}

header li {
    list-style-type: none;
    padding: 10px;
    text-transform: capitalize;
}

header li a {
    color: #fdfdfd;
}

header h1 {
    width: 280px;
}

header h1 img {
    width: 100%;
    height: auto;
    display: block;
}

.logo-SNS img {
    width: 20px;
    height: auto;
}

.sp-nav {
    display: none;
}
.sp-nav.open {
    display: block;
}

/* h2 */
h2.title-h2 {
    position: relative;
    padding: 15px 8px;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #333;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    max-width: 140px;
    text-align: center;
    text-transform: uppercase;
    margin: 50px;
    margin-inline: auto;
}

.title-h2::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    display: inline-block;
    top: 0;
    rotate: 45deg;
    border-bottom: solid 1px #333;
    border-left: solid 1px #333;
}

.title-h2 span::before,
.title-h2 span::after {
    content: "";
    position: absolute;
    background: #333;
    width: 40px;
    height: 1px;
    display: inline-block;
}

.title-h2 span::before {
    left: 25px;
    top: 1px;
    rotate: 45deg;
}

.title-h2 span::after {
    left: 25px;
    bottom: -2px;
    rotate: -45deg;
}

/* h3 */
h3 {
    border-bottom: solid 1px #333;
    padding: 8px 16px;
    font-size: 21px;
    letter-spacing: 0.1em;
    color: #333;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    max-width: 500px;
    text-align: left;
    margin: 24px;
    margin-inline: auto;
    text-transform: capitalize;
}

/* ボタン */
.btn {
    width: 70%;
    margin: 40px auto 0;
    display: flex;
}

.btn a {
    font-weight: 700;
    line-height: 1.5;
    display: inline-block;
    padding: 1rem 4rem;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fdfdfd;
    background-color: #425377;
    border-radius: 0.5rem;
    text-transform: capitalize;
}

/* パララックス用 */
.parallax-wrapper {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.parallax.p1 {
    background-image: url(../images/maid-top.png);
}

.parallax.p2 {
    background-image: url(../images/store@1x.png);
}

.parallax-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.parallax-content .left-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 364px;
    height: 364px;
    background-image: url(../images/deco-blue@1x.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.parallax-content .right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 364px;
    height: 364px;
    background-image: url(../images/deco-white@1x.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* コンセプト */
.concept-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10% 100px;
    gap: 40px;
}

.concept-text p {
    margin-left: 30px;
    line-height: 2em;
    flex: 1;
    margin-bottom: 20px;
}

#concept img {
    border-radius: 50%;
    width: 264px;
    height: 264px;
    object-fit: cover;
    flex-shrink: 0;
}

/* 円弧 */
.menu-bg {
    background-color: #425377;
    color: #fdfdfd;
    border-radius: 1170px 1170px 0 0 / 1000px 1000px;
    padding: 350px 0 80px 0;
    background-image: url(../images/star@1x.png);
    background-repeat: no-repeat;
    background-position: center -40px;
    background-size: clamp(400px, 60%, 800px);
}

/* メニュー */
#menu h2 {
    color: #fdfdfd;
}
#menu h2.title-h2::before {
    border-bottom: solid 1px #fdfdfd;
    border-left: solid 1px #fdfdfd;
}
#menu h2.title-h2 span::before,
#menu h2.title-h2 span::after {
    background: #fdfdfd;
}
#menu h3 {
    color: #fdfdfd;
    border-bottom: solid 1px #fdfdfd;
}

/* メニュー詳細 */
.menuDetailSec {
    padding: 30px 10%;
    display: grid;
    gap: 50px;
    justify-content: center;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "cup title"
        "cup text"
        "cup star";
    position: relative;
}

.menuDetailSec h3 {
    grid-area: title;
    width: 100%;
    margin: 0 0 24px 0;
    align-self: end;
}

.menuDetailSec p {
    grid-area: text;
    line-height: 2em;
}

.menuDetailSec .menu {
    grid-area: cup;
}

.menuDetailSec .star {
    grid-area: star;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.menuDetailSec img {
    width: 570px;
    border-radius: 0.5em;
}

.menu-block {
    position: relative;
    width: 570px;
    margin: 0 auto;
}

.menu-block.right {
    grid-area: cup;
}

.menu-img-wrap {
    width: 100%;
    overflow: hidden;
    border-radius: 0.5em;
}

.menu-img-wrap img.menu {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transform-origin: center;
}

.menu-img-wrap.left img.menu {
    transform: scale(1.3);
}

.menu-deco {
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 150px;
}

.menu-deco.right {
    bottom: -20%;
    left: -15%;
    background-image: url(../images/menu-right@1x.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-deco.left {
    bottom: -20%;
    right: -15%;
    background-image: url(../images/menu-left@1x.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-deco p {
    position: absolute;
    inset: 0;
    bottom: 20px;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 2em;
    font-weight: 700;
}

.menu-deco img {
    width: 300px;
    height: auto;
}

.food-menu img {
    width: 370px;
    filter: drop-shadow(10px 10px 8px #333);
}

.reverse {
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title pot"
        "text pot"
        "star pot";
}

.reverse h3 {
    grid-area: title;
}
.reverse p {
    grid-area: text;
}

.menu-block.left {
    grid-area: pot;
}

.reverse .star {
    grid-area: star;
}

.food-menu {
    padding-top: 30px;
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: 30% 30% 30%;
}

.food-menu img {
    display: block;
    margin-inline: auto;
}

.menu.btn {
    padding: 0 10%;
    width: auto;
    justify-content: center;
}

.menu.btn a {
    color: #333;
    background-color: #fdfdfd;
    display: block;
    margin: 40px 0 0;
}

/* お知らせ */
#news {
    background-color: #f0f8ff;
    padding: 60px 0;
    text-align: center;
}

.news_list {
    width: 70%;
    margin: 60px auto;
}

.news_list ul {
    margin: 0;
    padding: 0;
}

.news_list li {
    list-style: none;
    display: grid;
    text-align: left;
    grid-template-columns: 200px 1fr;
    padding: 14px 100px;
}

.news_list li:first-child {
    border-top: 1px solid #333;
    padding-top: 30px;
}

.news_list li:last-child {
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.news_list p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#news .btn {
    width: 70%;
    justify-content: flex-end;
}

/* アクセス */
#access {
    background-color: #f0f8ff;
}

#access .head {
    font-weight: 700;
}

#access div {
    margin-bottom: 50px;
}

.access-item {
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "open map"
        "address map"
        "reserve map";
    max-width: 1170px;
    margin: 0 auto;
    gap: 20px;
    width: 70%;
    line-height: 2em;
}

.access-item .open {
    grid-area: open;
}

.access-item .open .head,
.access-item .address .head {
    text-transform: capitalize;
}

.access-item .address {
    grid-area: address;
}

.access-item .reserve {
    grid-area: reserve;
    justify-content: center;
}

.access-item .map {
    grid-area: map;
}

.reserve.btn {
    z-index: 20;
    width: 100%;
}

.reserve.btn a {
    background: #fad856;
    color: #333;
}

/* ページトップ用 */
.page-top {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 40px;
    bottom: 60px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    border: 0;
    background: none;
    transition: 0.2s;
}

.page-top span {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-rl;
    text-decoration: none;
    text-transform: uppercase;
    height: 85px;
    margin: 0;
    letter-spacing: 5px;
    text-align: right;
}

.page-top span::before {
    content: "";
    position: absolute;
    top: 2px;
    right: -5px;
    width: 2px;
    height: 20px;
    background: #333;
    transform: skewX(-150deg);
}

.page-top span::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 2px;
    height: 85px;
    background: #333;
}

.is-active {
    opacity: 1;
    visibility: visible;
}

/* フッター */
.footer-wrap {
    position: relative;
}

footer {
    background-color: #425377;
    text-align: center;
    color: #fdfdfd;
    padding: 16px 0;
}

.footer-deco {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 282px;
    height: 282px;
    background-image: url(../images/deco-blue-footer@1x.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    margin: 0;
}
